* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto';
  font-size: 1rem;
  background-color: var(--ground_color);
  color: var(--primary-color);
  overflow-y: auto;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.message-box {
  width: 350px;
  background-color: rgb(233, 235, 236);
  min-height: 350px;
  border-radius: 10px;
  padding: 20px;
}

.btn {
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background-color: red;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.btn:hover {
  background-color: rgb(228, 58, 58);
}

.wss-message {
  word-break: break-all;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  overflow-y: auto;
  max-height: 180px;
}
